<!-- home :3.33 Листинг 5.2: app/views/static_pages/home.html.erb  Листинг :5.34 :11.35  -->
<% if logged_in? %>
            <div class="row">
          <aside class="col-md-4">
                <section class="user_info">
                  <%= render 'shared/user_info' %>
                </section>
            # :12.17
          <section class="stats">
                  <%= render 'shared/stats' %>
                </section>


          <section class="micropost_form">
                  <%= render 'shared/micropost_form' %>
                </section>
           </aside>  
          # :11.47
          <div class="col-md-8">
                <h3>Micropost Feed</h3>
                <%= render 'shared/feed' %>
              </div>
            </div>

<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the March07 !</h1>

    <h2>
      This is the home page for the
      <a href="http://www.railstutorial.org/">Ministry for students</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<%= link_to image_tag("241084701.gif", alt: "logo") %>
  
<% end %>

