<!--#Листинг 8.2: Код для формы входа. app/views/sessions/new.html.erb 
#8.47 #Листинг 10.38: Добавление ссылки для сброса пароля. app/views/sessions/new.html.erb -->
<% provide(:title, "Log in") %>
<h1>Log in sessions/new.html.erb</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
      
      <%= f.label :password %>
<%= link_to "(forgot password)", new_password_reset_path %>
 <%= f.password_field :password, class: 'form-control' %>

 <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>

