#Листинг 12.37: JavaScript и встроенный Ruby для создания взаимоотношения. app/views/relationships/create.js.erb

$("#follow_form").html("<%= escape_javascript(render('users/unfollow')) %>");
$("#followers").html('<%= @user.followers.count %>');

