#Листинг 12.22: Форма для того, чтобы перестать читать сообщения пользователя. app/views/users/_unfollow.html.erb :12.34

<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
             html: { method: :delete }) do |f| %>
             remote: true) do |f| %>

  <%= f.submit "Unfollow", class: "btn" %>
<% end %>

