#libr  Sept 01 Листинг 7.10: Добавление боковой панели к представлению пользователя show. app/views/users/show.html.erb
#Листинг 7.4:Листинг 7.8:Листинг 7.10 :11.23
<p>
<p><% provide(:title, @user.id) %><p><p>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%#= gravatar_for @user %>
      User name  <%= @user.name %> User.id = <%= @user.id %>
      </h1>
    </section>
 <section class="stats">  #:12.23
      <%= render 'shared/stats' %>
    </section>



  </aside>
  <div class="col-md-8">
<%= render 'follow_form' if logged_in? %> # :12.23

    <%# if @user.microposts.any? %>
      <h3>Microposts (<%#= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%#= render @microposts %>
      </ol>
      <%#= will_paginate @microposts %>
    <%# end %>
  </div>
</div>

