<!--#Листинг 11.46: Партиал для ленты сообщений. app/views/shared/_feed.html.erb -->

<% #if @feed_items.any? %>
  <ol class="microposts">
    <%#= render @feed_items %>
  </ol>
  <%#= will_paginate @feed_items %>
<%# end %>

